* {
    margin-top: 24px;
  }
  
  .no1 {
    background: pink;
  }
  
  .no1.no{
    font-size: 55px;
    font-weight: bold;
  }
  
  #no2 {
    color: blue;
    font-size: 50px;
    font-weight: bold;
  }
  
  #no3 {
    background: rgb(84, 194, 84);
    font-size: 32px;
    font-weight: bolder;
  }